



<div class="wrapper is-hidden" data-modal-buy>
    <div class="container-menu menu-order">
      <button type="button" class="menu-order__close" data-modal-buy-close>
        <svg class="mobile-close-icon" width="12" height="12">
          <use href="./img/sprite.svg#krestik"></use>
        </svg>
      </button>
      <h2 class="menu-order__label">
        <span class="menu-order__label-buy">BUY</span> NOW </h2>
  
  
  
  
      <ul class="menu-order__list">
        <li class="menu-order__item">
          <div class="menu-order__card">
            <img srcset="/img/buy-now-1-mobile@1x.png 1x, /img/buy-now-1-desktop-tablet@2x.png 2x" 
            src="/img/buy-now-1-mobile@1x.png" alt="chocolate" width="84" class="img-mo"/>
            <button class="menu-order__value" type="button">100 g</button>
          </div>
        </li>
        <li class="menu-order__item">
          <div class="menu-order__card">
            <img srcset="/img/buy-now-2-mobile@1x.png 1x, /img/buy-now-2-desktop-tablet@2x.png 2x"
            src="/img/buy-now-2-mobile@1x.png" alt="chocolatewhiteblack" width="" class="img-mo" />
            <button class="menu-order__value" type="button">200 g</button>
          </div>
        </li>
        <li class="menu-order__item">
          <div class="menu-order__card">
            <img srcset="/img/buy-now-3-mobile@1x.png 1x, /img/buy-now-3-desktop-tablet@2x.png 2x" 
            src="/img/buy-now-3-mobile@1x.png" alt="chocolateplate" width="" class="img-mo"/>
            <button class="menu-order__value" type="button">300 g</button>
          </div>
        </li>
      </ul>
      
  
      <form class="menu-order__form">
           <div class="menu-order__information">
              <label for="name" class="form-label">Personal information</label>
  
                <div class="input"> 
                <input type="text" name="name" id="name" class="form-input-buy" placeholder="Name">
              <!-- <label for="surname" class="form-label"></label>    -->
                <input type="text" name="surname" id="surname" class="form-input-buy" placeholder="Surname"></div> </div>
  
          <div class="menu-order__email">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-input" placeholder="Enter your email">
            </div>      
  
          <div class="menu-order__phone">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" name="phone" id="phone" class="form-input" placeholder="Phone number"> 
          </div>  
           
        <div class="menu-order__credit">
          <label for="credit" class="form-label">Card number</label>
         <input id="credit" name="credit" id="credit" class="form-input" placeholder="Enter card">
  
         <!-- <svg class="menu-order__form-icon" width="22" height="13">
          <use href="./images/icons/symbol-defs#icon-mastercard"> </use>
         </svg> -->
         
        </div>
   
        <div class="menu-order__comment">
                  <label for="message" class="label-comment">Comment</label>
                  <textarea name="user-comment" id="message" class="form-comment" placeholder="Enter text"></textarea>
                </div>
  
      <button type="submit" class="menu-order__submit">Submit</button>
      </form>
  
       
  
    </div>
  </div>