<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-pagination">
      <div class="footer-logo">
        <p class="footer-logo-first">
          Chocolate
          <span class="footer-subject">a delicious cure for a bad day</span>
        </p>
      </div>
      <div class="footer-wrap">
        <div class="footer-contact">
          <p class="footer-text">Contact us</p>
          <address class="footer-address">
            <ul class="footer-address-list list">
              <li class="footer-adress-link">
                <a href="tel:+380684439426" class="footer-tel link"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-adress-link">
                <a href="mailto:simplychoc@gmail.com" class="footer-mailto link"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>

        <ul class="footer-icons-list list">
          <li class="footer-icons-item">
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer-list-link link"
            >
              <svg class="footer-media-icon" width="22" height="22">
                <use href="./img/sprite.svg#instagram1"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icons-item">
            <a
              href="https://twitter.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer-list-link link"
            >
              <svg class="footer-media-icon" width="22" height="22">
                <use href="./img/sprite.svg#twitter1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-anchor-list list">
      <li class="footer-anchor link">
        <a class="footer-anchor-link" href="#home">Home</a>
      </li>
      <li class="footer-anchor link">
        <a class="footer-anchor-link" href="#howit’smade">How it’s made?</a>
      </li>
      <li class="footer-anchor link">
        <a class="footer-anchor-link" href="#ourproducts">Our products</a>
      </li>
      <li class="footer-anchor link">
        <a class="footer-anchor-link" href="#topsellers">Top sellers</a>
      </li>
      <li class="footer-anchor link">
        <a class="footer-anchor-link" href="#chocolateisloved"
          >Chocolate is loved</a
        >
      </li>
    </ul>
  </div>
</footer>
