<link rel="stylesheet" href="../css/base.css" />
<link rel="stylesheet" href="../css/footer.css" />
<section class="footer">
  <div class="container footer-container">
    <div class="footer-logo">
      <p class="footer-logo-first">
        Chocolate
        <span class="footer-subject">a delicious cure for a bad day</span>
      </p>
    </div>
    <div class="footer-contact">
      <p class="footer-text">Contact us</p>
      <address class="footer-address">
        <ul class="footer-address-list list">
          <li class="footer-adress-link">
            <a href="tel:+380684439426" class="footer-tel link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-adress-link">
            <a href="mailto:simplychoc@gmail.com" class="footer-mailto link"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-icons">
      <ul class="footer-icons list">
        <li class="footer-icons-item">
          <a href="" class="footer-list-link">
            <svg class="footer-media-icon" width="20px" height="20px">
              <use href="./"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icons-item">
          <a href="" class="footer-list-link">
            <svg class="sfooter-media-icon" width="20px" height="20px">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul>
      <li><a href="#Home">Home</a></li>
      <li><a href="#How it’s made">How it’s made?</a></li>
      <li><a href="#Our products">Our products</a></li>
      <li><a href="#Top sellers">Top sellers</a></li>
      <li><a href="#Chocolate is loved">Chocolate is loved</a></li>
    </ul>
  </div>
</section>
