<section class="footer">
  <div class="container footer-container">
    <div class="footer-pagination">
      <div class="footer-logo">
        <p class="footer-logo-first">
          Chocolate
          <span class="footer-subject">a delicious cure for a bad day</span>
        </p>
      </div>
      <div class="footer-wrap">
        <div class="footer-contact">
          <p class="footer-text">Contact us</p>
          <address class="footer-address">
            <ul class="footer-address-list list">
              <li class="footer-adress-link">
                <a href="tel:+380684439426" class="footer-tel link"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-adress-link">
                <a href="mailto:simplychoc@gmail.com" class="footer-mailto link"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>

        <ul class="footer-icons-list list">
          <li class="footer-icons-item">
            <a href="" class="footer-list-link link">
              <svg class="footer-media-icon" width="24px" height="24px">
                <use href="../img/icons/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icons-item">
            <a href="" class="footer-list-link link">
              <svg class="footer-media-icon" width="24px" height="24px">
                <use href="../img/icons/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-anchor-list list">
      <li class="footer-anchor link"><a href="#Home">Home</a></li>
      <li class="footer-anchor link">
        <a href="#How it’s made">How it’s made?</a>
      </li>
      <li class="footer-anchor link">
        <a href="#Our products">Our products</a>
      </li>
      <li class="footer-anchor link">
        <a href="#Top sellers">Top sellers</a>
      </li>
      <li class="footer-anchor link">
        <a href="#Chocolate is loved">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</section>
