<header class="header">
  <div class="container header-container">
        <a href="./index.html" class="logo link">SIMPLY&nbsp<span>CHOCOLATE</span>
          <svg class="logo-icon">
            <use href="./img/sprite.svg#chocolate-descktop"></use>
          </svg></a>
        <button class="button-menu-gamburger js-open-menu" type="button">
          <svg class="icon-gamburger">
            <use href="./img/sprite.svg#menu"></use>
          </svg>
        </button>
    <div class="header-nav-wrap js-menu-container">
          <button class="header-btn-mobile-close js-close-menu" type="button">
            <svg class="close-icon" >
              <use href="./img/sprite.svg#krestik"></use>
            </svg>
          </button>
      
          <nav class="header-navigation">
            <ul class="header-list list">
              <li class="header-item">
                <a href="#Home" class="header-link link">Home</a>
              </li>
              <li class="header-item">
                <a href="#How it’s made?" class="header-link link"
                  >How it’s made?</a>
              </li>
              <li class="header-item">
                <a href="#>Our products" class="header-link link">Our products</a>
              </li>
              <li class="header-item">
                <a href="#>Our products" class="header-link link">Top sellers</a>
              </li>
              <li class="header-item">
                <a href="#Chocolate is loved" class="header-link link">Chocolate is loved</a>
              </li>
            </ul>
          </nav>
          
          <div class="header-social">
            <ul class="social-list list">
              <li class="social-item"  >
                <a href="" class="social-link" >
                  <svg class="social-icon" width="24" height="24">
                    <use href="./img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item" >
                <a href="" class="social-link">
                  <svg class="social-icon mobile" width="24" height="24">
                    <use href="./img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
      
    </div>
  </div>
</header>
