<header class="header" id="home">
  <div class="container header-container">

        <a href="./index.html" class="logo link">SIMPLY<span>CHOCOLATE</span>
          <svg class="logo-icon">
            <use href="./img/sprite.svg#chocolate-desktop"></use>
          </svg></a>
          <button class="button-menu-gamburger js-open-menu" type="button">
            <svg class="icon-gamburger">
              <use href="./img/sprite.svg#icon-burger"></use>
            </svg>
          </button>
    <div class="header-nav-wrap js-menu-container">
          <button class="header-btn-mobile-close js-close-menu" type="button">
            <svg class="close-icon" >
              <use href="./img/sprite.svg#krestik"></use>
            </svg>
          </button>
      
          <nav class="header-navigation">
            <ul class="header-list list">
              <li class="header-item">
                <a href="#home" class="header-link link">Home</a>
              </li>
              <li class="header-item">
                <a href="#howit’smade" class="header-link link">How it’s made?</a>
              </li>
              <li class="header-item">
                <a href="#ourproducts" class="header-link link">Our products</a>
              </li>
              <li class="header-item">
                <a href="#topsellers" class="header-link link">Top sellers</a>
              </li>
              <li class="header-item">
                <a href="#chocolateisloved" class="header-link link">Chocolate is loved</a>
              </li>
            </ul>
          </nav>
          
          <div class="header-social">
            <ul class="social-list list">
              <li class="social-item"  >
                <a href="https://www.instagram.com" target="_blank"
                rel="noopener noreferrer nofollow" class="social-link" >
                  <svg class="social-icon" width="24" height="24">
                    <use href="./img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item" >
                <a href="https://twitter.com" target="_blank"
                rel="noopener noreferrer nofollow" class="social-link">
                  <svg class="social-icon mobile" width="24" height="24">
                    <use href="./img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
      

    </div>
  </div>
</header>
