<section class="hero">
  <div class="container">
    <h2 class="hero_header">Treat yourself or a loved one to our finest ingredients for a moment of pure
      delight!</h2>
    <div class="hero_buttons">
      <button class="buy_now js-open-menu" type="button" id="open_button" buy_now_modal>Buy now</button>
      <button class="how_made" type="button" id="how_made_button" how_made>How it's made</button>
      <div class="scroll">
        <button class="scroll_button" type="button">scroll down</button>
        <span class="scroll_span">
          <svg class="scroll_icon" width="22" height="22">
            <use href="./img/sprite.svg#galochka-2"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>