<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/hero.css">

<section class="hero">
    <div class="container">
      <h1 class="hero_header">Treat yourself or a loved one to our finest ingredients for a moment of pure
        delight!</h1>
      <button class="buy_now" type="button">Buy now</button>
      <button class="how_made" type="button">How it’s made</button>

      <button class="scroll" type="button">scroll down</button>
      <svg class="scroll_icon" width="38" height="38">
        <use href="../img/icons/symbol-defs.svg#icon-scroll"></use>
      </svg>
    </div>
  </section>