<section class="hero_section">
	<div class="hero_container container">
		<div class="hero">
			<div class="">
				<h2 class="hero_header">
					Treat yourself or a loved one to our finest ingredients for a moment
					of pure delight!
				</h2>
				<div class="hero_buttons">
					<div class="hero_top">
						<button class="hero_button buy_now js-open-menu" type="button" id="open_button" buy_now_modal>
							Buy now
						</button>
						<a class="hero_button how_made" href="#howit'smade">How it's made</a>
					</div>
					<div class="scroll">
						<a class="scroll_button" href="#footer">scroll down</a>
						<span class="scroll_span">
							<svg class="scroll_icon" width="22" height="22">
								<use href="./img/sprite.svg#galochka-2"></use>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>