<section class="how-its-made">
    <div class="container">
        <h2 id="howit’smade" class="how-its-made-title">HOW IT’S <span>MADE?</span></h2>
        <!-- <h2 class="how-its-made-title><a name=" howit’smade">HOW IT’S <span>MADE?</span></a></h2> -->
        <div class="how-its-made-wrapper">
            <div class="how-its-made-video">
                <div class="how-its-made-play">
                    <svg class="how-its-made-svg">
                        <use href="./img/sprite.svg#play"></use>
                    </svg>
                </div>
                <picture class="">
                    <source srcset="
                ./img/how-its-made-desktop@1x.jpg 1x,
                ./img/how-its-made-desktop@2x.jpg 2x
                " media="(min-width: 1200px)" />

                    <source srcset="
                ./img/how-its-made-tablet@1x.jpg 1x,
                ./img/how-its-made-tablet@2x.jpg 2x
                " media="(min-width: 768px)" />

                    <source srcset="
                ./img/how-its-made-mobile@1x.jpg 1x,
                ./img/how-its-made-mobile@2x.jpg 2x
                " media="(max-width: 768px)" />
                    <img class="how-its-made-video" src="./img/how-its-made-mobile@1x.jpg" alt="create chocolate">
                </picture>
            </div>



            <div class=" how-its-made-container">
                <p class="how-its-made-description">Try our chocolates today and discover the perfect
                    balance of flavor</p>
                <ul class="how-its-made-list">
                    <li class="how-its-made-item">Heat the milk in a saucepan
                        without bringing it to a boil. Add sugar and cocoa powder.
                    </li>
                    <li class="how-its-made-item">At the same time, prepare a water bath.
                        Melt the butter on it.
                    </li>
                    <li class="how-its-made-item">"Mix" the milk mixture and already liquid butter.
                        Mix thoroughly with a silicone spatula so that the mass becomes
                        uniform and silky.
                    </li>
                    <li class="how-its-made-item">Heat the mixture over low heat, letting it barely boil.

                    </li>
                    <li class="how-its-made-item">Pour the chocolate into special containers
                        (can be replaced with ice molds). Allow to cool and harden.
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>