<section class="our-products section">
  <div class="our-products-container container">
    <h2 class="our-products-title">
      OUR <span class="our-products-title-word">PRODUCTS</span>
    </h2>
    <div class="swiper productsSwiper">
      <ul class="our-products-list swiper-wrapper">
        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="./img/1-orange@1x.jpg 1x, ./img/1-orange@2x.jpg 2x"
              src="./img/1-orange@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">ORANGE</p>
            <p class="our-products-item-desc">Dark chocolate</p>
            <button class="our-products-item-btn" type="button">45 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="
                ./img/2-apple-cranberry@1x.jpg 1x,
                ./img/2-apple-cranberry@2x.jpg 2x
              "
              src="./img/2-apple-cranberry@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">APPLE&CRANBERRY</p>
            <p class="our-products-item-desc">Milk chocolate</p>
            <button class="our-products-item-btn" type="button">50 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="
                ./img/3-lime-sea-salt@1x.jpg 1x,
                ./img/3-lime-sea-salt@2x.jpg 2x
              "
              src="./img/3-lime-sea-salt@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">LIME&SEA SALT</p>
            <p class="our-products-item-desc">Dark chocolate</p>
            <button class="our-products-item-btn" type="button">66 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="./img/4-pineapple@1x.jpg 1x, ./img/4-pineapple@2x.jpg 2x"
              src="./img/4-pineapple@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">PINEAPPLE</p>
            <p class="our-products-item-desc">Dark chocolate</p>
            <button class="our-products-item-btn" type="button">54 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="
                ./img/5-classic-milk-chocolate@1x.jpg 1x,
                ./img/5-classic-milk-chocolate@2x.jpg 2x
              "
              src="./img/5-classic-milk-chocolate@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">CLASSIC</p>
            <p class="our-products-item-desc">Milk chocolate</p>
            <button class="our-products-item-btn" type="button">45 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="./img/6-honey@1x.jpg 1x, ./img/6-honey@2x.jpg 2x"
              src="./img/6-honey@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">HONEY</p>
            <p class="our-products-item-desc">Milk chocolate</p>
            <button class="our-products-item-btn" type="button">50 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="
                ./img/7-roasted-fruits@1x.jpg 1x,
                ./img/7-roasted-fruits@2x.jpg 2x
              "
              src="./img/7-roasted-fruits@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">ROASTED FRUITS</p>
            <p class="our-products-item-desc">Dark chocolate</p>
            <button class="our-products-item-btn" type="button">66 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <div class="our-products-item-wrapper">
            <img
              srcset="
                ./img/8-classic-white-chocolate@1x.jpg 1x,
                ./img/8-classic-white-chocolate@2x.jpg 2x
              "
              src="./img/8-classic-white-chocolate@1x.jpg"
              alt="Photo of chocolate"
              width="230"
              height="201"
            />
            <p class="our-products-item-title">CLASSIC</p>
            <p class="our-products-item-desc">White chocolate</p>
            <button class="our-products-item-btn" type="button">54 UAH</button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
