<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/styles.css" >

</head>
<body>
<!--======================chocolate is loved (Misha-Kohut)======================-->
<section class="comment containerr">
  <h2 class="comment-title"><span class="chocolate">chocolate</span> is loved</h2>
  <div class="swiper mySwiper">
  <ul class="comment-list swiper-wrapper">
    <li class="comment-item swiper-slide">
      <img src="../img/avatar-1-victoria-dobrzhanska@1x.png" alt="" class="avatar-img" />
      <div class="name-comment-container">
      <h3 class="name-comment-title">Victoria Dobrzhanska</h3>
      <p class="comment-text">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </div>
    </li>
    <li class="comment-item swiper-slide">
      <img src="../img/avatar-2-nazar-babenko@1x.png" alt="" class="avatar-img"/>
      <div class="name-comment-container">
      <h3 class="name-comment-title">Nazar Babenko</h3>
      <p class="comment-text">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </div>
    </li>
    <li class="comment-item swiper-slide">
      <img src="../img/avatar-3-olena-kampusch@1x.png" alt="" class="avatar-img"/>
      <div class="name-comment-container">
      <h3 class="name-comment-title">Olena Kampusch</h3>
      <p class="comment-text">
        Chocolate is a family favourite treat. Love the delicious smooth
        chocolate and the creaminess inside. The wafer is soft but crunchy.
      </p>
    </div>
    </li>
    <li class="comment-item swiper-slide">
      <img src="../img/avatar-4-natalia-sus@1x.png" alt="" class="avatar-img"/>
      <div class="name-comment-container">
      <h3 class="name-comment-title">Natalia Sus</h3>
      <p class="comment-text">
        The chocolate assortment was delicious. Both dark and milk chocolate
        pieces were smooth and just right on the sweetness level.
      </p>
      </div>
    </li>
    <li class="comment-item swiper-slide">
      <img src="../img/avatar-5-danilo-nottingham@1x.png" alt="" class="avatar-img"/>
      <div class="name-comment-container">
      <h3 class="name-comment-title">Danilo Nottingham</h3>
      <p class="comment-text">
        This is delicious. It so rich and flavorful you don’t need to use as
        many. I love topping an apple with almond butter and these chips for a
        snack.
      </p>
      </div>
    </li>
    <li class="comment-item swiper-slide">

      <img src="../img/avatar-6-irina-tydnyuk@1x.png" alt="" class="avatar-img"/>
            <div class="name-comment-container">
      <h3 class="name-comment-title">Irina Tydnyuk</h3>
      <p class="comment-text">
        This is simply the best chocolate around, and I'm just thrilled to
        support a local company! Best local chocolate - world class :)
      </p>
      </div>
    </li>

  </ul>
  <div class="swiper-pagination"></div>
</div>
  <button type="button" class="reviews-button">Leave a review</button>
</section>
<!--======================/chocolate is loved======================-->
<!--======================/chocolate is loved======================-->



<!--======================/chocolate is loved======================-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../js/swiper-script.js"></script>
</body>
</html>