<div class="subscribe-backdrop is-hidden" data-modal>
  <div class="subscribe-modal">
    <button type="button" class="subscribe-modal-btn" data-modal-close>
      <svg class="modal-btn-icon" width="12" height="12">
        <use href="./img/sprite.svg#krestik-2"></use>
      </svg>
    </button>

    <div class="subscribe-modal-content">
      <h2 class="subscribe-modal-title">
        Explore our <span>new chocolate</span> first
      </h2>
      <form class="subscribe-modal-form">
        <input
          type="email"
          name="email"
          id="subscribe-modal-email"
          placeholder="Enter your E-mail"
          class="subscribe-modal-form-input"
        />
        <button type="submit" class="subscribe-modal-form-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
