<section class="top-sellers-section section">
  <div class="top-sellers-container">
    <h2 class="top-sellers-title" id="topsellers">
      <a name="topsellers">
        <span class="top-sellers-title-partone">Top</span> Sellers
      </a>
    </h2>
    <div class="topsellers-wrapper">
      <ul class="topsellers-photo-list">
        <li class="topsellers-photo-list-item topsellers-photo-list-item-one">
          <picture>
            <source
              srcset="
                img/top-sellers-1-desktop@1x.jpg 1x,
                img/top-sellers-1-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/top-sellers-1-tablet@1x.jpg 1x,
                img/top-sellers-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                img/top-sellers-1-mobile@1x.jpg 1x,
                img/top-sellers-1-mobile@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              class="top-sellers-img"
              src="img/top-sellers-1-mobile@1x.jpg"
              alt="Cacao beans"
            />
          </picture>
          <p class="top-sellers-descr">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
        <li class="topsellers-photo-list-item">
          <picture>
            <source
              srcset="
                img/top-sellers-2-desktop@1x.jpg 1x,
                img/top-sellers-2-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                img/top-sellers-2-tablet@1x.jpg 1x,
                img/top-sellers-2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                img/top-sellers-2-mobile@1x.jpg 1x,
                img/top-sellers-2-mobile@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />

            <img
              class="top-sellers-img"
              src="img/top-sellers-2-mobile@1x.jpg"
              alt="Chocolate with caramel"
            />
          </picture>
        </li>
        <li class="topsellers-photo-list-item is-hidden-sellers">
          <picture>
            <source
              srcset="
                img/top-sellers-3-desktop@1x.jpg 1x,
                img/top-sellers-3-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="top-sellers-img"
              src="img/top-sellers-3-desktop@1x.jpg"
              alt="Black chocolate"
            />
          </picture>
        </li>
      </ul>
    </div>

    <button type="button" class="buy-now-btn button" data-modal-buy-open>Buy now</button>
  </div>
</section>
