<section class="top-sellers-section section">
  <div class="top-sellers-container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-title-partone">Top</span> Sellers
    </h2>
    <ul class="topsellers-photo-list">
      <li class="topsellers-photo-list-item topsellers-photo-list-item-one">
        <img
          class="top-sellers-img"
          src="img/top-sellers-1-mobile@1x.jpg"
          alt="Cacao beans"
        />
        <p class="top-sellers-descr">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="topsellers-photo-list-item">
        <img
          class="top-sellers-img"
          src="img/top-sellers-2-mobile@1x.jpg"
          alt="Chocolate with caramel"
        />
      </li>
      <li class="topsellers-photo-list-item is-hidden">
        <img
          class="top-sellers-img"
          src="img/top-sellers-3-desktop@1x.jpg"
          alt="Black chocolate"
        />
      </li>
    </ul>

    <button type="button" class="buy-now-btn button">Buy now</button>
  </div>
</section>
