<section class="unique-components section">
  <div class="container">
    <h2 class="components-title">
      it all adds up to one exceptional
      <span class="taste">taste</span> sensation
    </h2>
    <p class="components-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="components-items chocolate-box list">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-box chocolate">
              <picture>
                <source
                  srcset="
                    ./img/components-milk-chocolate-desktop@1x.png 1x,
                    ./img/components-milk-chocolate-desktop@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/components-milk-chocolate-tablet-mobile@1x.png 1x,
                    ./img/components-milk-chocolate-tablet-mobile@2x.png 2x
                  "
                  media="(max-width: 1199px)"
                />

                <img
                  src="./img/components-milk-chocolate-tablet-mobile@1x.png"
                  alt="milk chocolate"
                />
              </picture>

              <p class="components-text chocolate-text">milk chocolate</p>
            </div>
            <div class="overlay">
              <p class="overlay-title">milk chocolate</p>
              <button type="button" class="overlay-btn">chocolate</button>
              <button type="button" class="overlay-btn">the benefits</button>
              <p class="overlay-text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe,
                increasingly large amounts are consumed in China and Latin
                America.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="components-items milk-box list">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-box milk">
              <picture>
                <source
                  srcset="
                    ./img/components-milk-desktop@1x.png 1x,
                    ./img/components-milk-desktop@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/components-milk-tablet-mobile@1x.png 1x,
                    ./img/components-milk-tablet-mobile@2x.png 2x
                  "
                  media="(max-width: 1199px)"
                />

                <img
                  src="./img/components-milk-chocolate-tablet-mobile@1x.png"
                  alt="milk"
                />
              </picture>

              <p class="components-text milk-text">milk</p>
            </div>
            <div class="overlay">
              <p class="overlay-title">milk</p>
              <button type="button" class="overlay-btn">milk</button>
              <button type="button" class="overlay-btn">the benefits</button>
              <p class="overlay-text">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system, and thus reduces the risk of many diseases. Milk
                contains many nutrients, including protein and lactose.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="components-items nuts-box list">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-box nuts">
              <picture>
                <source
                  srcset="
                    ./img/components-nuts-desktop@1x.png 1x,
                    ./img/components-nuts-desktop@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/components-nuts-tablet-mobile@1x.png 1x,
                    ./img/components-nuts-tablet-mobile@2x.png 2x
                  "
                  media="(max-width: 1199px)"
                />

                <img
                  src="./img/components-nuts-tablet-mobile@1x.png"
                  alt="nuts"
                />
              </picture>

              <p class="components-text nuts-text">nuts</p>
            </div>
            <div class="overlay">
              <p class="overlay-title">nuts</p>
              <button type="button" class="overlay-btn">nuts</button>
              <button type="button" class="overlay-btn">the benefits</button>
              <p class="overlay-text">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They`re a good source of
                fiber, healthy fats, and plant protein. Plus, they`re great on
                their own, paired with fruit, or added to dishes like salads,
                desserts, and grains.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="components-items semi-box list">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="components-box semi">
              <picture>
                <source
                  srcset="
                    ./img/components-semi-desktop@1x.png 1x,
                    ./img/components-semi-desktop@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/components-semi-tablet-mobile@1x.png 1x,
                    ./img/components-semi-tablet-mobile@2x.png 2x
                  "
                  media="(max-width: 1199px)"
                />

                <img
                  src="./img/components-semi-tablet-mobile@1x.png"
                  alt="semi"
                />
              </picture>

              <p class="components-text semi-text">semi - sweet chocolate</p>
            </div>
            <div class="overlay">
              <p class="overlay-title">semi - sweet chocolate</p>
              <button type="button" class="overlay-btn">sweet chocolate</button>
              <button type="button" class="overlay-btn">the benefits</button>
              <p class="overlay-text">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow. This delectable flavor of chocolate is very
                versatile.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
