

@media screen and (min-width: 375px) {

  .container-advantages {
      
      width: 375px;
      max-width: 375px;
      
      padding: 20px;

      margin-left: auto;
      margin-right: auto;
      background-color: #1e1823;
      color: var(--text);

  }



  .advantages__icon {
      width: 62px;
      height: 62px;
      padding: 15px;
      
      
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 365px;
      margin-bottom: 22px;
  }
  
  .advantages__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  
  .advantages__item {
      width: 308px;
      max-width: 308px;
  }

  .advantages__icon {
      fill: var(--orange)
  }

  .advantages__label {


      font-weight: 600;
      font-size: 18px;
      line-height: calc(22/18);
      margin-bottom: 18px;
      color: var(--white);

  }

  .advantages__text {
      
      font-weight: 400;
      font-size: 14px;
      line-height: calc(17/14);
      color: var(--text);
  }

}

@media screen and (min-width: 768px) {



  .container-advantages {
       
      width: 768px;
      max-width: 768px;
      padding: 50px 32px;
  }
  
  .advantages__list {
      
      flex-wrap: wrap;
      flex-direction: row;
      gap: 32px;
  }
      
}


@media screen and (min-width: 1200px) {

  .container-advantages {

      width: 1200px;
      max-width: 1200px;
      padding: 50px;
  }

  .advantages__list {
    
    justify-content: space-between;
      
      
  }

  .advantages__item:not(:last-child) {
      position: relative; 
      width: 326px;
      padding-right: 18px;
      

  }



  .advantages__item:not(:last-child):after {
      content: "";
      position: absolute;
     
      width: 1px;
      right: 0;
      height: 124px;
      background: rgba(255, 255, 255 0,5);
      top: 50%;
      transform: translate(-50%, -50%);
    }

    
      

}   