h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
a {
	margin: 0;
	padding: 0;
  list-style: none;

}

a {
  color: currentColor;
  text-decoration: none;
}

.list {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.hiddenvisualy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17/14);
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}

:root {
  --orange: #FD9222;
  --pale-yellow: #FCF1E0;
  --white: #FFFFFF;;
  --accent-color: #1E1823;
  --black: #111111;
  --text: rgba(255, 255, 255, 0.7);
}
	

body {
margin-left: auto;
margin-right: auto;
  color: var(--black);
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
}


.container {
  max-width: 1136px;
  margin-left: 40px;
}

@media screen and (min-width: 375px) {

  .container-mobile {
    width: 375px;
    height: 752px;
    
    margin-left: auto;
    margin-right: auto;
  }
}