

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    
    width: inherit;
    height: 100%;
    z-index: 1;
  
     
  
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  


@media screen and (min-width: 375px) {

    .wrapper {
        width: 100%;
        
    }

    .container-menu {
        width: 311px;
       
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        

    }
    


    .menu-order {

        position: fixed;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 1000;
        

        background-color: var(--white);
     
        border-radius: 4px;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* .menu-order.is-hidden {
        opacity: 0;
        visibility: hidden;
    } */


    .menu-order__close {

        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 14px;
        top: 14px;

        width: 24px;
        height: 24px;

        border: 0;
        background-color: var(--white);
        margin: 0;
        padding: 0;
        transform: scale(1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .menu-order__close:is(:hover, :focus) {
        background-color: rgba(252, 241, 224, 1);
        transform: scale(1.3);


    }

    .mobile-close-icon {
        fill: var(--black);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .menu-order__close:is(:hover, :focus) .mobile-close-icon {
        fill: var(--orange);
    }


    .menu-order__list {
        margin-bottom: 32px;
    }

    .menu-order__item:not(:last-child) {
        margin-bottom: 8px;
    }

    .menu-order__label {
        margin-bottom: 32px;

        font-weight: 600;
        font-size: 20px;
        line-height: calc(24/20);
        text-align: center;
        color: rgba(17, 17, 17, 1);
    }

    .menu-order__label-buy {
        color: var(--orange);
    }

    .menu-order__card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 263px;
        padding: 8px 16px;



        background-color: var(--white);
        border: 1px solid var(--white);
        border-radius: 15px;


    }

    .img-mo {
        width: 84px;
    }

    .menu-order__value {
        display: flex;
        align-items: center;

        max-width: 96px;
        max-height: 29px;

        padding: 6px 16px;

        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(17/14);
        text-align: center;

        background: #FAFAFA;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 100px;
    }

    .menu-order__form {

        color: var(--black);
        font-size: 12px;
        font-weight: 500;
        line-height: calc(14/12);
        margin-left: auto;
        margin-right: auto;
    }


    .menu-order__information,
    .menu-order__email,
    .menu-order__phone,
    .menu-order__credit,
    .menu-order__comment {

        text-align: start;
        margin-bottom: 18px;
    }

    .form-label,
    .label-comment {
        display: block;
        margin-bottom: 8px;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 14px;

    }

    .form-input-buy,
    .form-comment {

        display: block;
        width: 100%;
        margin: 0;
        padding: 14px 18px;

        font-size: 14px;
        line-height: calc(17/14);

        color: rgba(64, 64, 64, 0.3);
        border: 1.5px solid rgba(17, 17, 17, 0.05);
    }

    .form-comment {
        min-height: 91px;
        resize: none;
        border: none;
    }

    .form-comment::placeholder,
    .form-input-buy::placeholder {

        font-size: 14px;
        line-height: calc(17/14);
        color: rgba(64, 64, 64, 0.3);
    }

    .form-comment:focus {
        border: 1px solid rgba(64, 64, 64, 0.3);
    }





    .menu-order__form-icon {
        position: absolute;
        top: 739px;
        right: 77px;
        width: 32px;
        height: 21px;
        border-radius: 4px;
        background-color: #FAFAFA;
        border: 1px solid #FAFAFA;


    }

    .menu-order__submit {
        display: block;
        min-width: 109px;
        min-height: 41px;

        background-color: var(--orange);
        color: var(--white);

        border: none;
        transform: scaleX(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .menu-order__submit:hover,
    .menu-order__submit:focus {
        background-color: rgba(252, 241, 224, 1);
        color: var(--orange);
    }




}


@media screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
    }


    .container-menu {
        width: 609px;
       
        padding-top: 48px;
        padding-left: 48px;
        padding-right: 48px;
        padding-bottom: 48px;

    }

    .menu-order__label {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: calc(28/24);


    }

    .menu-order__list {
        margin-bottom: 0;
        display: inline-flex;
        gap: 16px;
        margin-bottom: 40px;
    }



    .menu-order__card {

        flex-direction: column;
        justify-content: none;
        align-items: center;

        width: 160px;
        height: 196px;


        padding-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 24px;


        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #FFFFFF;
        border-radius: 15px;


    }

    .menu-order__item:not(:last-child) {
        margin-bottom: 0px;
    }

    .img-mo {
        width: 120px;
    }

    .menu-order__form {

        font-size: 18px;
        line-height: calc(18/14);


    }

    .form-comment::placeholder,
    .form-input-buy::placeholder {

        font-size: 18px;
        line-height: calc(22/18);

    }


    .form-input-buy {
        width: 246px;

    }

    .input {
        display: inline-flex;
        flex-direction: row;
        gap: 21px;
    }

    .menu-order__email .form-input,
    .menu-order__phone .form-input,
    .menu-order__credit .form-input,
    .menu-order__comment .form-input {
        width: 100%;
    }


}