@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-logo {
    width: 300px;
    margin-bottom: 32px;
  }
  .footer-text {
    margin-bottom: 14px;
  }
  .footer-adress-link {
    margin-bottom: 4px;
  }
  .footer-adress-link:last-child {
    margin-bottom: 0;
  }
  .footer-icons-item {
    width: 22px;
    height: 22px;
  }
  .footer-icons-list {
    display: flex;
    gap: 14px;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-anchor {
    margin-bottom: 18px;
  }
  .footer-anchor:last-child {
    margin-bottom: 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .footer-anchor-list {
    padding-top: 24px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-anchor-list {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-top: 24px;
  }
  .footer-anchor {
    display: flex;
    margin-bottom: 0;
  }
  .footer-anchor:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-anchor:last-child {
    margin-right: 0;
  }
  .footer-pagination {
    display: flex;
    column-gap: 124px;
  }

  .footer-logo {
    margin-bottom: 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-pagination {
    display: flex;
    column-gap: 543px;
  }
  .footer-wrap {
    column-gap: 65px;
  }
}

.footer {
  background-color: rgba(30, 24, 35, 1);
}

.footer-logo-first {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--orange);
}

.footer-subject {
  color: var(--white);
  letter-spacing: -0.02em;
}

.footer-text {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--white);
}

.footer-address {
  line-height: 1.29;
  font-size: 14px;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
}

.footer-media-icon {
  fill: currentColor;
}
.footer-list-link {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
  height: 100%;
}
.footer-media-icon:hover {
  fill: var(--orange);
}
.footer-anchor-list {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-anchor {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
}
@media screen and (max-width: 375px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-logo {
    width: 300px;
    margin-bottom: 32px;
  }
  .footer-text {
    margin-bottom: 14px;
  }
  .footer-adress-link {
    margin-bottom: 4px;
  }
  .footer-adress-link:last-child {
    margin-bottom: 0;
  }
  .footer-icons-item {
    width: 22px;
    height: 22px;
  }
  .footer-icons-list {
    display: flex;
    gap: 14px;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-anchor {
    margin-bottom: 18px;
  }
  .footer-anchor:last-child {
    margin-bottom: 0;
  }
  .footer-anchor:first-child {
    margin-top: 32px;
  }
  .footer-anchor-list {
    margin-top: 32px;
  }
}
