
.logo {
display: inline-flex;
align-items: center;
font-family: 'Montserrat', sans-serif;
font-style: italic;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: var(--black);
}  
.logo > span {
font-style: normal;
margin-left: 3px;
}  
.logo-icon {
width: 21px;
height: 21px;
stroke: var(--orange);
fill: var(--pale-yellow);
margin-left: 4px;
}


.header {
padding-top: 20px;
padding-bottom: 14px;
position: relative;
width: 100%;
}
.header-container {
display: flex;
align-items: center;
justify-content: space-between;

}

.button-menu-gamburger {
line-height: 0;
background-color: transparent;
padding: 0;
border-color: transparent;
width: 28px;
height: 28px;
}

.icon-gamburger {
width: 21px;
height: 14px;
}  


.header-nav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px;
}


.header-navigation {
display: flex;
align-items: center;
margin-left: 30px;
margin-top: 12vh;
margin-bottom: auto;
}


.header-link {
color: var(--white);
transition: color var(--transition-dur-and-func);
}  


.header-social {
display: flex;
}

.social-list {
display: flex;
align-items: center;
gap: 18px;
}

.social-link {
display: flex;
align-items: center;
width: 100%;
height: 100%;
color: var(--white);
transition: color var(--transition-dur-and-func);
}



@media screen and (max-width: 1199px) {
.header-item:not(:last-child){
margin-bottom: 24px;
}
}
@media screen and (max-width: 767px) {

.social-icon {
width: 22px;
height: 22px;
stroke: currentColor;
fill: transparent;
}
.social-icon.mobile {
width: 20px;
height: 20px;
stroke: currentColor;
fill: transparent;   
}
}

/*   MOBILE-MENU   */

.header-nav-wrap {
background-color: var(--accent-color);
min-width: 220px;
height: 100vh;
position: fixed;
right: 0;
top: 0;
transform: translateX(100%);
transition: transform var(--transition-dur-and-func);
z-index: 3;
}

.header-nav-wrap.is-open {
transform: translateX(0);
}


.header-btn-mobile-close {
display: flex;
justify-content: flex-start;
align-items: center;
margin-left: auto;
background-color: var(--accent-color);
border: none;
width: 28px;
height: 28px;
}

.close-icon{
stroke: var(--white);
fill: transparent;
}



@media screen and (min-width: 768px)  {
.container {
  max-width: 768px;
}

.header {
padding-top: 24px;
padding-bottom: 24px;
}

.button-menu-gamburger {
width: 32px;
height: 32px;
}

.icon-gamburger {
width: 24px;
height: 16px;
}  


.header-link:hover,
.header-link:focus {
color: var(--orange);
}


.social-link:hover,
.social-link:focus {
color: var(--orange)
}

.social-icon {
stroke: currentColor;
fill: transparent;
}
}

/*   TABLET-MOBILE-MENU   */
@media screen and (min-width: 768px) and (max-width: 1199px) {

.header-nav-wrap {
min-width: 290px;
  padding: 24px 32px;
}

.header-navigation {

margin-left: 53px;
margin-top: 10.7vh;
margin-bottom: auto;
}
.close-icon{
width: 32px;
height: 32px;
}
.header-btn-mobile-close {
  width: 32px;
  height: 32px;
  
  }
}

/* HEADER-DESCKTOP */

@media screen and (min-width: 1200px) {
.container {
  max-width: 1200px;

}

.logo {
font-size: 18px;
line-height: 1.11;
} 
.logo-icon {
width: 24px;
height: 24px;
}


.header {
padding-top: 24px;
padding-bottom: 32px;
}

.button-menu-gamburger {
display: none;
}

.header-nav-wrap {
width: 100%;
background-color: transparent;
max-width: unset;
height: unset;
position: static;
padding: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
transform: none;
margin-left: 190px;
}

.header-navigation {
position: static;
margin: 0;

}
.header-list {
display: flex;
gap: 24px;
}


.header-link {
color: var(--black);
transition: color var(--transition-dur-and-func);
}  

.header-social {
display: flex;
}

.social-list {
display: flex;
align-items: center;
gap: 18px;
}

.social-link {
color: var(--black);
transition: color var(--transition-dur-and-func);
}
.social-link:hover,
.social-link:focus {
color: var(--orange)
}



.header-btn-mobile-close {
display: none;
}

}

