/*----------------Section Hero-------------------*/
.hero_header {
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.21;
	width: 484px;
	height: 102px;
	color: var(--white);
	margin-bottom: 32px;
}

.hero {
	padding-top: 381px;
	padding-bottom: 40px;
	padding-left: 32px;
	display: flex;
	text-align: center;
	max-width: 1136px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
		url("../img/hero-bg-desktop@1x.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	margin-bottom: 72px;
}

.hero_button {
	border: none;
	margin-right: 14px;
	padding: 14px 40px;
	background-color: rgba(253, 146, 34, 1);
	color: var(--white);
	border-radius: 100px;
	padding: 14px 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.21;
	transform: scaleX(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 100%;
}

.buy_now:hover,
.buy_now:focus {
	background-color: rgba(252, 241, 224, 1);
	color: var(--orange);
	/*box-shadow: 0 2px 6px rgba(252, 241, 224, 1);*/
}

.how_made {
	background-color: inherit;
	outline: 1px solid #FFFFFF;
}

.how_made:hover,
.how_made:focus {
	background-color: var(--white);
	color: var(--orange);
}

.hero_buttons {
	display: flex;
}

.scroll_button {
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #FFFFFF;
	background-color: inherit;
	margin-right: 14px;
	border: none;
}

.scroll {
	display: flex;
	align-items: center;
}

.scroll_span {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: #e7e9fc;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.scroll_icon {
	width: 22px;
	height: 22px;
	fill: var(--orange);
}

.scroll_button:hover,
.scroll_button:focus {
	background-color: var(--white);
	color: var(--orange);

}

.scroll_span:hover,
.scroll_span:focus {
	background-color: var(--orange);
}

.scroll_icon:hover,
.scroll_icon:focus {
	fill: var(--white);
}


/*--------Mobile------------------*/

@media screen and (min-width:320px) and (max-width:768px) {
	.hero {
		display: block;
		max-width: 335px;
	}

	.hero_container {
		width: auto;
		height: 72px;
		font-size: 20px;
		padding-left: 20px;
	}

	.hero_header {
		width: 299px;
		font-weight: 500;
		font-size: 20px;
		margin: 0;
	}

	.scroll_button {
		width: 293px;
		height: 41px;
	}

	.hero_buttons {
		display: flex;
		flex-direction: column;
	}

	.hero_top {
		width: 100%;
		margin-bottom: 32px;
	}

	.buy_now {
		width: 120px;
		height: 41px;
		margin: 0;
		padding: 0;
		border: none;
		margin-right: 14px;
	}

	.how_made {
		width: 159px;
		height: 41px;
		margin: 0;
		padding: 0;
	}

	.scroll_button {
		width: auto;
		height: auto;
		/*margin-right: 12px;*/
	}

	.scroll_span {
		width: 28px;
		height: 28px;
	}

	.scroll_icon {
		width: 16px;
		height: 16px;
	}
}


.hero {
	background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-mobile@1x.jpg);

}

@media(min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
	.hero {
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-mobile@2x.jpg)
	}

}

/*--------Tablet------------------*/ 

@media screen and (min-width:768px) and (max-width:1199px) {
	.hero_container {
		width: 100%;
	
	}

	.hero_top {
		display: block;
		width: 100%;
	}

	.hero_buttons {
		height: 45px;
		display: flex;
		flex-direction: row;
	}

	.how_made {
		width: 159px;
		margin: 0;
		padding: 0;
	}

	.scroll {
		width: 130px;
	}

	.scroll_button {
		width: 80px;
		height: 18px;
		font-size: 14px;
	}

	.scroll_span {
		width: 38px;
		height: 38px;
	}

}

@media screen and (min-width:428px) and (max-width:767px) {
	.hero {
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-tablet@1x.jpg);
	}
}

@media screen(min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
	.hero {
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-tablet@2x.jpg);
	}
}

/*--------Descktop------------------*/

@media screen and (min-width: 1200px) {
	.hero_container {
		max-width: 100%;
		padding-right: 40px;
		padding-left: 40px;
	}

	.hero_buttons {
		height: 45px;
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width:768px) {

	@media(min-device-pixel-ratio:2),
	(-webkit-min-device-pixel-ratio:2),
	(min-resolution:192dpi),
	(min-resolution:2dppx) {
		.hero {
			background-image: linear-gradient(to right, rgba(252, 241, 224, 1)), url(../img/hero-bg-desctop@2x.jpg);
		}
	}
}