/*----------------Section Hero-------------------*/
.hero {
	height: 620px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-mobile@1x.jpg);
}

.zagolovok {
	visibility: hidden;
}


@media screen and (min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
	.hero {
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-mobile@2x.jpg);
	}
}

.hero_header {
	font-weight: 500;
	font-size: 17px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	width: 100%;
	color: var(--white);
	margin-bottom: 32px;
}

.hero_button {
	cursor: pointer;
	border: none;
	padding: 12px 14px;
	font-size: 13px;
	background-color: rgba(253, 146, 34, 1);
	color: var(--white);
	border-radius: 100px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 100%;
}

.hero_button:hover,
.hero_button:focus {
	background-color: rgba(252, 241, 224, 1);
	color: var(--orange);
	/*box-shadow: 0 2px 6px rgba(252, 241, 224, 1);*/
}

.buy_now:hover,
.buy_now:focus {
	background-color: rgba(252, 241, 224, 1);
	color: var(--orange);
	/*box-shadow: 0 2px 6px rgba(252, 241, 224, 1);*/
}

.how_made {
	margin-left: 10px;
	background-color: inherit;
	outline: 1px solid #FFFFFF;
}

.how_made:hover,
.how_made:focus {
	background-color: var(--white);
	color: var(--orange);
}

.hero_buttons {
	display: flex;
	flex-direction: column;
}

.scroll_button {
	display: flex;
	align-items: center;
	font-weight: 500;
	letter-spacing: -0.03em;
	color: var(--white);
	border: none;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.scroll_span {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #e7e9fc;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: all 0.3s ease;
}
.scroll_icon {
	width: 16px;
	height: 16px;
	fill: var(--orange);
	transition: all 0.3s ease;
}
.scroll_button:hover,
.scroll_button:focus {
	color: var(--orange);
}
.scroll_button span:first-child {
	width: 78px;
	font-size: 14px;
	margin-right: 14px;
}
.scroll_button:hover .scroll_span ,
.scroll_button:focus .scroll_span{
	background-color: var(--orange);
}
.scroll_button:hover .scroll_icon,
.scroll_button:focus .scroll_icon {
	fill: var(--white);
}

.hero_section {
	padding-bottom: 72px;
   }

/*--------Mobile------------------*/
@media screen and (min-width:375px) {
    
  

	.hero_header {
		width: 290px;
		font-size: 20px;
	}

	.hero_button {
		font-size: 14px;
		padding: 12px 28px;
	}

	.how_made {
		margin-left: 13px;
	}
}

@media screen and (max-width:767px) {
	.hero_top {
		margin-bottom: 32px;
	}

	
	.scroll_button {
		font-size: 12px;
	}

	
}

/*--------Tablet------------------*/
@media screen and (min-width:768px) {
	.hero {
		height: 890px;
		padding-bottom: 40px;
		padding-right: 40px;
		padding-left: 40px;
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-tablet@1x.jpg);
	}

	@media screen and (min-device-pixel-ratio:2),
	(-webkit-min-device-pixel-ratio:2),
	(min-resolution:192dpi),
	(min-resolution:2dppx) {
		.hero {
			background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-tablet@2x.jpg);
		}
	}

	.hero_header {
		width: 484px;
		font-size: 28px;
		line-height: 1.21;
	}

	.hero_top {
		width: 100%;
	}

	.hero_button {
		padding: 14px 40px;
	}

	.hero_buttons {
		flex-direction: row;
	}

	.scroll_span {
		width: 38px;
		height: 38px;
	}

	.scroll_icon {
		width: 22px;
		height: 22px;
	}

	.hero_section {
		padding-bottom: 50px;
	   }
}

/*--------Descktop------------------*/
@media screen and (min-width: 1200px) {
	.hero {
		height: 600px;
		background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-desktop@1x.jpg);
	}

	.hero_header {
		max-width: 484px;
		font-size: 28px;
		line-height: 1.21;
	}

	@media screen and (min-device-pixel-ratio:2),
	(-webkit-min-device-pixel-ratio:2),
	(min-resolution:192dpi),
	(min-resolution:2dppx) {
		.hero {
			background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-bg-desktop@2x.jpg);
		}
	}

	.hero_section {
		padding-bottom: 72px;
	   }
}
