/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique_components.css');
@import url('./how-made.css');
@import url('./top_sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./mobile-menu.css');
@import url('./buy-now.css');
@import url('./popup-thx.css');
@import url('./reviews-modal.css');
@import url('./popup-review.css');
@import url('./subscribe-moda.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
