.components-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    max-width: 283px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.taste {
    color: var(--orange);
}

.components-desc {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    font-weight: 400;

    text-align: center;
    letter-spacing: -0.02em;
}

.components-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.chocolate {
    background: var(--orange);
}

.milk {
    background: var(--white);
    border: 1px solid var(--orange);
}

.nuts {
    background: var(--accent-color);
}

.semi {
    background: var(--white);
    border: 1px solid var(--orange);
}

.components-text {
    position: absolute;
    left: 28px;
    bottom: 28px;

    font-weight: 600;

    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.chocolate-text {
    color: var(--white);
}

.milk-text {
    color: var(--black);
}

.nuts-text {
    color: var(--white);
}

.semi-text {
    color: var(--black);
}

.components-items {
    position: relative;
    overflow: hidden;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.overlay {
    overflow: auto;
    background-color: var(--white);
    color: var(--black);
    padding: 28px;
    border-radius: 15px;
    transform: rotateY(180deg);
}

.components-box,
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.components-box {
    position: relative;
    padding: 28px 36px 82px 28px;
    border-radius: 15px;
}

.overlay-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.37;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    margin-bottom: 8px;

    color: var(--black);
}

.overlay-btn {
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    white-space: nowrap;
    border-radius: 4px;
    padding: 6px 16px;
    background-color: var(--pale-yellow);

    border: 1px solid #FD9222;
    border-radius: 35px;
    cursor: pointer;

    margin-bottom: 14px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-btn:hover,
.overlay-btn:focus {
    background-color: var(--orange);
    color: var(--white);

}

.overlay-text {
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
}

/* ---------- min-width: 768px ---------- */

@media screen and (min-width: 768px) {
    
    .components-box {
    padding: 28px 56px 71px 56px;
    }

    .components-title {
        font-size: 24px;
        line-height: 1.17;

        max-width: 411px;
        margin-bottom: 28px;
    }

    .components-desc {
        max-width: 486px;
        margin-bottom: 50px;
    }

    .components-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .components-items {
        flex-basis: calc((100% - 32px) / 2);
    }

    .chocolate-box {
        order: -1;
    }

    .semi-box {
        order: 0
    }

    .milk-box {
        order: 1;
    }

    .nuts-box {
        order: 2
    }

}

/* ----------  min-width: 1200px ---------- */

@media screen and (min-width: 1200px) {

     .components-list {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 19px;
    }

    .components-box {
        padding: 28px 36px 82px 28px;
    }  
    
    .chocolate-box {
        order: 0;
    }

    .milk-box {
        order: 0;
    }

    .nuts-box {
        order: 0;
    }

}
